body{
        background-image: url("../images/staff_mgmt3.jpg");
        background-size: cover;
        z-index: -100;
 }

.m-0 {
    color: white;
}

.bg-light1 {
    background-color: #f8f9fa;
}

.bg-light2 {
    background-color: #e9ecef;
}

.header-bg-color2 {
    background-color:#DBC4F0;
}

.bg-lighter {
    background-color: #F3F8FF;
}

.bg-peach {
    background-color: #FFDBC3;
}

.bg-sage {
    background-color: #D4E2D4;
}

.bg-beige {
    background-color: #343a40;
}

.footer-bg-color {
    background-color:#a4a7ab;
}

.footer-bg-color2 {
    background-color:#343a40;
}

.footer-bg-color3 {
    background-color:#B06161;
}

/* Navigation styles */
.navbar {
    background-color: #343a40;
}


.navbar-brand {
    display: flex;
    align-items: center;
}


.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}


.navbar-nav .dropdown-menu {
    background-color: #343a40;
}

.navbar-nav .dropdown-item {
    color: white;
}


.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}


.navbar-nav .dropdown.mt-2 {
    margin-left: 10px;
}


.navbar-nav .mt-2 {
    margin-right: 20px;
}

.img-responsive.logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-left: 15px;
    }
    .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}


