body{
        background-image: url("../images/staff_mgmt3.jpg");
        background-size: cover;
        z-index: -100;
 }

.bg-light1 {
    background-color: #f8f9fa;
}

.bg-light2 {
    background-color: #e9ecef;
}

.header-bg-color2 {
    background-color:#DBC4F0;
}

.bg-lighter {
    background-color: #F3F8FF;
}

.bg-peach {
    background-color: #FFDBC3;
}

.bg-sage {
    background-color: #D4E2D4;
}

.bg-beige {
    background-color: #FFF3DA;
}

.footer-bg-color {
    background-color:#a4a7ab;
}

.footer-bg-color2 {
    background-color:#DBC4F0;
}

.footer-bg-color3 {
    background-color:#B06161;
}



  .navbar {
      height: 100px;
      background-color: bg-light2;

  }

  .img-responsive.logo {
      width: 100%;
      max-width: 100px;
      height: auto;
  }

  @media (max-width: 992px) {
      .navbar-brand {
          margin-left: 15px;
      }
      .navbar-nav .nav-link {
          padding-right: .5rem;
          padding-left: .5rem;
      }
  }
