.card {
    transition: transform 2s;
    perspective: 1000px;
}
.card:hover {
    transform: rotateY(25deg);
}
.card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card .back {
    transform: rotateY(180deg);
}